/* -------------------------------------------------- */
/* FORM
/* -------------------------------------------------- */

form {

	width: 100%;

	::placeholder {

		color: $gray;

	}

 	.form-element-container {
 		
		padding: {
			top: 1rem;
			right: 1rem;
			bottom: 1rem;
			left: 1rem;
		}

		@include break($type: 'width', $min: 0, $max: $mobile) {

			padding: {
				left: 0.25rem;
				right: 0.25rem;
			}

		}

 	}

	input[type=text],
	input[type=number],
	input[type=password],
	input[type=reset],
	input[type=submit],
	textarea,
	select {

		@include transition($property: (color, border, background-color), $ease: ease-out, $duration: 400ms);

		margin: {
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}
		padding: {
			top: 2rem;
			right: 1rem;
			bottom: 2rem;
			left: 1rem;
		}
		width: 100%;
		height: 100%;
		color: $charcoal;
		font-size: 1em;
		border: 2px solid $gray;
		background-color: $white;

		&:focus {

			border: 2px dotted $primary;
			box-shadow: none;

		}

		&:required {

			/*border: 2px solid $error;*/

		}

	}

	textarea {

		height: 200px;
		max-height: 400px;
		resize: vertical;

	}

	input[type=submit] {

		@extend .cursor-pointer;
		//@extend .background-accent-slant;
		@include transition($property: (color, letter-spacing, border-color, background-color), $ease: ease-out, $duration: 200ms);

		min-height: 50px;
		color: $primary;
		text-transform: uppercase;
		border: 2px solid $primary;

		&:hover, &:focus {

			@extend .text-spacing-sm;

			color: $white;
			border-color: $charcoal;
			background-color: $charcoal;

		}

		@include break($type: 'width', $min: 0, $max: $mobile) {

			color: $white;
			border-color: $primary;
			background-color: $primary;

		}

	}

}