/* -------------------------------------------------- */
/* MAP SHORTCUTS
/* -------------------------------------------------- */

// BREAKPOINTS
$breakpoint-keys: map-keys($breakpoints);
$breakpoint-values: map-values($breakpoints);

$mobile: nth($breakpoint-values, 1);
$tablet: nth($breakpoint-values, 2);
$laptop: nth($breakpoint-values, 3);
$desktop: nth($breakpoint-values, 4);


// TYPOGRAPHY
$h1: pxtoem( map-get($font-sizes, 1) );
$h2: pxtoem( map-get($font-sizes, 2) );
$h3: pxtoem( map-get($font-sizes, 3) );
$h4: pxtoem( map-get($font-sizes, 4) );
$h5: pxtoem( map-get($font-sizes, 5) );
$h6: pxtoem( map-get($font-sizes, 6) );

$p1: pxtoem( map-get($font-sizes, 1) / 2 );
$p2: pxtoem( map-get($font-sizes, 2) / 2 );
$p3: pxtoem( map-get($font-sizes, 3) / 2 );
$p4: pxtoem( map-get($font-sizes, 4) / 2 );
$p5: pxtoem( map-get($font-sizes, 5) / 2 );
$p6: pxtoem( map-get($font-sizes, 6) / 2 );


// GUTTERS
$gutter-xs: map-get($gutters, xs);
$gutter-sm: map-get($gutters, sm);
$gutter-md: map-get($gutters, md);
$gutter-lg: map-get($gutters, lg);
$gutter-xl: map-get($gutters, xl);


// WIDTHS
$width-xs: map-get($widths, xs);
$width-sm: map-get($widths, sm);
$width-md: map-get($widths, md);
$width-lg: map-get($widths, lg);
$width-xl: map-get($widths, xl);


// HEIGHTS
$height-xs: map-get($heights, xs);
$height-sm: map-get($heights, sm);
$height-md: map-get($heights, md);
$height-lg: map-get($heights, lg);
$height-xl: map-get($heights, xl);


// COLORS
$primary: map-get($colors, primary);
$secondary: map-get($colors, secondary);
$accent: map-get($colors, accent);
$wild: map-get($colors, wild);

$white: map-get($colors, white);
$light-gray: map-get($colors, light-gray);
$gray: map-get($colors, gray);
$dark-gray: map-get($colors, dark-gray);
$charcoal: map-get($colors, charcoal);
$black: map-get($colors, black);

$ok: map-get($colors, ok);
$warning: map-get($colors, warning);
$error: map-get($colors, error);

$transparent: map-get($colors, transparent);


// EASINGS

$easeInSine: cubic-bezier(0.47, 0, 0.745, 0.715);
$easeOutSine: cubic-bezier(0.39, 0.575, 0.565, 1);
$easeInOutSine: cubic-bezier(0.39, 0.575, 0.565, 1);

$easeInQuad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
$easeOutQuad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
$easeInOutQuad: cubic-bezier(0.25, 0.46, 0.45, 0.94);

$easeInCubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
$easeOutCubic: cubic-bezier(0.215, 0.61, 0.355, 1);
$easeInOutCubic: cubic-bezier(0.215, 0.61, 0.355, 1);

$easeInQuart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
$easeOutQuart: cubic-bezier(0.165, 0.84, 0.44, 1);
$easeInOutQuart: cubic-bezier(0.165, 0.84, 0.44, 1);

$easeInQuint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
$easeOutQuint: cubic-bezier(0.23, 1, 0.32, 1);
$easeInOutQuint: cubic-bezier(0.23, 1, 0.32, 1);

$easeInExpo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
$easeOutExpo: cubic-bezier(0.19, 1, 0.22, 1);
$easeInOutExpo: cubic-bezier(0.19, 1, 0.22, 1);

$easeInCirc: cubic-bezier(0.6, 0.04, 0.98, 0.335);
$easeOutCirc: cubic-bezier(0.075, 0.82, 0.165, 1);
$easeInOutCirc: cubic-bezier(0.075, 0.82, 0.165, 1);

$easeInBack: cubic-bezier(0.6, -0.28, 0.735, 0.045);
$easeOutBack: cubic-bezier(0.175, 0.885, 0.32, 1.275);
$easeInOutBack: cubic-bezier(0.68, -0.55, 0.265, 1.55);

$easeInOutFast: cubic-bezier(1,0,0,1);

$authenticMotion: cubic-bezier(.4,0,.2,1);


/*
@debug 'Shortcut map tests:';
@debug $h1 $p4;
@debug $primary;
@debug $mobile;
@debug $gutter-xs;
*/
